* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oswald;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.02'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 40px;
}

/*  NAV LEFT */
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 5px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #000;
}

.nav-menu-right ul li a:hover {
    border: none;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

.nav-menu-icon {
    width: 20px;
}

/* PERSONAJES */
.section-title h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 600;
}

.alem-img,
.celman-img,
.roca-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.roca,
.celman,
.alem,
.img2 {
    display: inline-flex;
    justify-content: center;
}

.img2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0;
}

.section-players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 100px auto;
    width: 90%;
}

.img2:hover {
    opacity: .3;
    cursor: pointer;
    transition: .2s;
}

/* Leandro alem */
.section-title h2 {
    text-align: center;
    margin-top: 50px;
    opacity: .5;
    font-size: 20px;
}

.section-title h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.section-title img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    width: 22rem;
}

.nav-main-alem {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    width: 97.5%;
    font-size: 20px;
}

.nav-a-alem:hover {
    border-bottom: 3px solid black;
}

.primera-info-alem {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.eleccion-uno-alem,
.eleccion-dos-alem {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.eleccion-content-alem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.eleccion-uno-alem a,
.eleccion-dos-alem a {
    border: 1px solid black;
    padding: 4px 4px;
}

.eleccion-uno-alem p {
    margin: 20px 0 40px 0;
    font-size: 20px;
}

.eleccion-dos-alem p {
    margin: 20px auto 40px auto;
    font-size: 20px;
    width: 92%;
}

.eleccion-uno-alem a:hover,
.eleccion-dos-alem a:hover {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

/* Julio A. Roca */

.section-title h2 {
    text-align: center;
    margin-top: 50px;
    opacity: .5;
    font-size: 20px;
}

.section-title h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.nav-main-roca {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    width: 97.5%;
    font-size: 20px;
}

.nav-a-roca {
    font-size: 25px;
}

.nav-a-roca:hover {
    border-bottom: 3px solid black;
}

.primera-info-roca {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.eleccion-uno-roca,
.eleccion-dos-roca {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;

}

.eleccion-content-roca {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.eleccion-uno-roca a,
.eleccion-dos-roca a {
    border: 1px solid black;
    padding: 4px 4px;
}

.eleccion-uno-roca p {
    margin: 20px 0 40px 0;
    font-size: 20px;
}

.eleccion-dos-roca p {
    margin: 20px auto 40px auto;
    font-size: 20px;
}

.eleccion-uno-roca a:hover,
.eleccion-dos-roca a:hover {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

/* Miguel Celmans */

.section-title-celman h2 {
    text-align: center;
    margin-top: 50px;
    opacity: .5;
    font-size: 20px;
}

.section-title-celman h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.section-title-celman img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto 0 auto;
    width: 25rem;
}

.nav-main-celmans {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    width: 97.5%;
    font-size: 20px;
}

.section-title-celman h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.nav-a-celmans {
    font-size: 25px;
}

.nav-a-celmans:hover {
    border-bottom: 3px solid black;
}

.primera-info-celman {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.eleccion-uno-celman,
.eleccion-dos-celman {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;

}

.eleccion-content-celman {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.eleccion-uno-celman a,
.eleccion-dos-celman a {
    border: 1px solid black;
    padding: 4px 4px;
}

.eleccion-uno-celman p {
    margin: 20px 0 40px 0;
    font-size: 20px;
}

.eleccion-dos-celman p {
    margin: 20px auto 40px auto;
    font-size: 20px;
}

.eleccion-uno-celman a:hover,
.eleccion-dos-celman a:hover {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
}

/* Perdisete */
.img-calabera img {
    width: 500px;
}

.img-calabera {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.a-calabera button {
    text-align: center;
    font-size: 50px;
    display: flex;
    margin: 50px auto 50px auto;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
}

.a-calabera button:hover {
    background-color: red;
    transition: 0.5s;
    border: 3px solid red;
}

.a-calabera span:hover {
    color: red;
    transition: .3s;
}
/* GANASTE Y PERDISTE */
.section-title-ganper h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 100px;
}
/* GANASTE */
.img-check img {
    width: 500px;
}

.section-title-ganaste h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.img-check {
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.a-check button {
    text-align: center;
    font-size: 50px;
    display: flex;
    margin: 50px auto 50px auto;
    color: black;
    border: 3px solid black;
    cursor: pointer;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
}

.a-check button:hover {
    background-color: green;
    transition: 0.5s;
    border: 3px solid green;
}

/* MEDIA INCIO */
@media (max-width: 1500px) {
    .section-players {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .section-players {
        grid-template-columns: 1fr;
    }
    .section-players img {
        width: 250px;
        height: 250px;
    }
    .section-title h1 {
        font-size: 30px;
    }
    .nav-main-alem {
        width: 90%;
    }
    .eleccion-content-alem {
        display: block;
        width: 100% !important;
        margin: 0px;
    }
    .eleccion-content-roca {
        display: block;
        width: 100% !important;
        margin: 0px;
    }
    .nav-main-roca {
        width: 90%;
    }
    .eleccion-content-celman {
        display: block;
        width: 100% !important;
        margin: 0px;
    }
    .nav-main-celmans {
        width: 90%;
    }
    /* MEDIA PERDISTE */
    .img-calabera img {
        width: 300px;
    }
    .section-title-ganper h1{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .a-calabera button{
        width: 50%;
        font-size: 20px;
        font-weight: bold;
        border: 2px solid black;
    }
    /* MEDIA GANASTE */
    .a-check button{
        width: 50%;
        font-size: 20px;
        font-weight: bold;
        border: 2px solid black;
    }
    .img-check img {
        width: 300px;
    }
    .section-title-ganper h1{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}
/* MEDIA ALEM */
@media (max-width: 1100px) {
    .eleccion-content-alem {
        grid-template-columns: 1fr;
        width: 60%;
        margin: auto;
        gap: 0px;
    }
}
@media (max-width: 1100px) {
    .eleccion-content-roca {
        grid-template-columns: 1fr;
        width: 60%;
        margin: auto;
        gap: 0px;
    }
}
@media (max-width: 1100px) {
    .eleccion-content-celman {
        grid-template-columns: 1fr;
        width: 60%;
        margin: auto;
        gap: 0px;
    }
}